body{
	background-color:#ADD6FF;
	margin:0; 
	padding:0;
	box-sizing: border-box;  
	font-family: arial, sans-serif;
	color: #210d08;
	border-style: solid;
    border-color: #210d08;
    border-width: .75em
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
h1 { 
	font-family: 'Loved by the King', cursive;
	color:#210d08;
	font-size: 3.875em;
	font-style:normal;
	font-weight:700;
	text-align:center;
	text-transform:capitalize;   
}
h2 {
	font-family: "sans-serif";
	color:#210d08;
	font-size: 2.0em;
	font-style:normal;
	font-weight:700;
	text-align:center;   
}
h3 {
	font-family: "Gabriola"; 
	color: #210d08;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	text-align: center; 
	padding-bottom: 2px;
	margin-bottom:1.5em;
}
ul {
	list-style-type: none;
}
header {
	background-color: #FFD1D1;
	background-position: left;
	background-repeat: no-repeat;
}
nav {
	font-family: arial, sans-serif;
	font-size: 20px;
	float: right;
	padding-top: 1.5em;
	width: 500px;
}
nav li {
	float: left;
}
a {
	color: #210d08;
	text-decoration: none;
	padding: 32px;
}
a:hover {
	background-color:#ADD6FF;
}
img {
	width: 12%;
	margin: 0 0em;
}
figure {
	float: left;
	width: 25%;
	text-align: center;
}
section.homepage-figures figure img { 
	width: 100%;
	height: 21.00em; 
	float: left;
	text-align: center;
	margin: 0.5em; 
	padding-bottom: .5em;
}
ul {
	font-family: arial. sans-serif;
	color: #210d08;
	font-size: 18px;
	font-style:normal;
	font-weight:700;
	text-align: center;
	padding: .10em;
}
footer {
	background-color: #FFD1D1;
	font-family: sans-serif;
	font-size: 20px;
	font-weight:700;
	width: 100%;
	padding: 1.26em .0em;	
}
footer .contact-info {
	float: right;
}
.column h1{
	font-family: 'Loved by the King', cursive;
	color:#210d08;
	font-size: 2.875em;
	font-style:normal;
	font-weight:700;
	text-align:center;
	text-transform:capitalize;   
}
.column {
	float: left;
	width: 450px;
	height: 575px;
	padding: 20px;
	margin: .9em;
	margin-left: 4.5em;
	margin-bottom: .1em;
	margin-top: .1em;
	font-size: 16px;
	font-style: normal;
	font-weight: 250;
}
div.blog-figures figure img {
	width: 100%; 
	float: right;
	height: 32.000em; 
	padding-right:.50em;
	margin: 0; 
	margin-bottom: 0.5em;
}
div.blog-figures figure {
	margin-left: 6.0em;
}
@media only screen and (min-width:320px) and (max-width:480px) {
	nav{
		float:none;
}
	nav a:hover{
		background-color:inherit;
}
figure{
		float: none;
		width: 100%;
		margin: 0;
}
.column, div.blog-figures figure, section.homepage-figures figure img{ 
		float:none;
		margin-left:0;
		margin-right:0;
}
div.blog-figures figure img{
		float:none;
		margin-left:0;
		margin-right:0;	
}
.column{
		padding:0;
		width:100%;	
}
	footer: .hover{
		background-color:inherit;
}
}

